@use "./animations" as *;

@mixin border-radius($radius: 8px){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transition($props: 0.7s ease){
    transition: $props;
    -webkit-transition: $props;
    -moz-transition: $props;
    -ms-transition: $props;
    -o-transition: $props;
}

@mixin animation($props){
    animation: $props;
    -webkit-animation: $props;
}

@mixin square($size: 100px){
    width: $size;
    height: $size;
}

@mixin rectangle($w: 100px, $h: 50px){
    width: $w;
    height: $h;
}

@mixin circle($size: 100px){
    @include square($size);
    @include border-radius(50%);
}

@mixin grid-layout($columns: 2, $rows: 2, $gap: 0){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}

@mixin hide-appear($props){
    animation: hide-appear $props;
    -webkit-animation: hide-appear $props;
}

@mixin appear($props){
    animation: appear $props;
    -webkit-animation: appear $props;
}